.home-container
  padding: 10px
  display: grid
  grid-template-columns: 100%
  grid-gap: 20px
  grid-row-gap: 20px
  .first-row 
    display: inline-grid
    grid-template-columns: 4fr 2fr
    grid-template-rows: 60vh
    grid-row-gap: 10px
    grid-gap: 20px
  .second-row
    display: inline-grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: 25vh
    grid-gap: 10px
  .third-row
    display: inline-grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 30vh
    grid-gap: 10px

.quantitative-card 
  display: flex
  flex-direction: column
  padding: 32px 24px
  font-family: 'Inter', sans-serif;
  background: #FFFFFF
  border: 1px solid #F2F2F2
  box-sizing: border-box

.informative-card
  font-family: 'Inter', sans-serif;
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 180%
  color: #8999A3
  border-style: solid
  border-width: 1px
  border-color: #E7E7E8
  display: flex
  justify-content: center
  align-items: center
  padding: 20px

@media all and ( max-width:  960px)
  .first-row
    display: block !important
  .second-row
    display: block !important
  .third-row
    display: block !important

@media screen and (max-width: 1000px) 
  .informative-card > p
    font-size: 15px
